body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 1s ease; 
}


.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  max-width: 400px;
}

.contact-form h1 {
  text-align: center;
}

.contact-list {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  overflow-y: auto;
}

.contact-list h1 {
  text-align: center;
}

.contact-list-container {
  max-height: 400px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

label,
input,
button {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
